  // styl property ordering: https://github.com/rossPatton/stylint/blob/master/src/data/ordering.json

@import 'kouto-swiss'
@import 'helpers'

@import 'fonts/graphik'

// ******************************************************

// RESETS

meyer-reset()
box-sizing-reset()
normalize()

// ******************************************************

// BOWER LIBRARY

@import 'library'

// ******************************************************

// GRID

@import 'grid'

// ******************************************************

// TYPOGRAPHY

@import 'type'

// ******************************************************

// VARIABLES

$color-black = rgb(0, 0, 0)
$color-white = rgb(255, 255, 255)

$color-red = rgb(239, 63, 66)
$color-blue = rgb(22, 72, 152)
$color-yellow = rgb(229 220, 26)

// ******************************************************

// BASIC

html
  color: $color-white
  background: $color-blue
  font-family: 'Graphik'

img
  max-width: 100%
  height: auto

.mobile-only
  display: initial !important

.desktop-only
  display: none !important

// HEADERS
h1, h2, h3, h4, h5, h6
  font-weight: bold
  font-style: italic

h1, h2
  letter-spacing: 1px

h2
  color: $color-red


// ******************************************************

// MEDIA QUERIES

$gutter = 18px

$margin-micro = ($gutter / 3)
$margin-tiny = ($gutter / 2)
$margin-small = ($gutter)
$margin-basic = ($gutter * 2)
$margin-mid = ($gutter * 3.5)
$margin-large = ($gutter * 5)

$font-size-basic = 22px
$font-size-h1 = 38px //28
$font-size-h2 = 34px
$font-size-h3 = 28px

grid(96%, $gutter, s)

space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

font-sizes($font-size-basic, $font-size-h1, $font-size-h2, $font-size-h3)

.yellow-shadow
  text-shadow: 2px 2px 0 $color-red

button,
.button
  font-size: $font-size-h3
  font-weight: 900
  font-style: italic
  text-transform: uppercase
  padding: $margin-tiny $margin-small
  margin: $margin-tiny 0
  border: none

.yellow-button
  background: $color-yellow
  color: $color-blue !important

.helvetica
  font-family: 'Helvetica'

// HEADER
#header
  color: $color-white
  width: 100%

.logo
  fill: white
  position: relative

  .logo-shadow,
  .logo-hangul
    width: 100%
    position: absolute
    top: -2px

.social-icon
  svg
    width: 45px
    fill: $color-white

#last-show
  transition: background 500ms

  &.black-bg
    background: black

#cover-container
  background-position: center
  background-size: cover

#playlist-container
  display: none
  max-height: 100vh

#playlist-embed
  max-height: 100vh

.pinned-player
  position: fixed
  bottom: 0
  right: 0
  width: 560px
  height: 315px
  padding: 0

  iframe
    width: 560px
    height: 315px
    position: initial

.blog-archive
  background: rgb(255,255,255)
  color: $color-blue

#play-button,
#play-link
  position: absolute
  bottom: 5px
  right: 0

@import 'responsive/mobile'

@media screen and (min-width: 720px)

  $gutter = 21px

  $margin-micro = ($gutter / 3)
  $margin-tiny = ($gutter / 2)
  $margin-small = ($gutter)
  $margin-basic = ($gutter * 2)
  $margin-mid = ($gutter * 3.5)
  $margin-large = ($gutter * 5)

  $font-size-basic = 14px

  space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

  grid(680px, $gutter, m)

  font-size($font-size-basic)

  .mobile-only
    display: none !important

  @import 'responsive/tablet'

@media screen and (min-width: 1024px)

  $gutter = 36px

  $margin-micro = ($gutter / 3)
  $margin-tiny = ($gutter / 2)
  $margin-small = ($gutter)
  $margin-basic = ($gutter * 2)
  $margin-mid = ($gutter * 3.5)
  $margin-large = ($gutter * 5)

  $font-size-basic = 16px

  grid(1000px, $gutter, l)

  space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

  font-size($font-size-basic)

  .desktop-only
    display: initial !important

  @import 'responsive/desktop'

@media screen and (min-width: 1280px)

  grid(1200px)

@media screen and (min-width: 1366px)

  grid(1300px)

@media screen and (min-width: 1680px)

  grid(1600px)

@media screen and (min-width: 1920px)

  grid(1800px)



