  // styl property ordering: https://github.com/rossPatton/stylint/blob/master/src/data/ordering.json

@import 'kouto-swiss'
@import 'helpers'

@import 'fonts/graphik'

// ******************************************************

// RESETS

meyer-reset()
box-sizing-reset()
normalize()

// ******************************************************

// BOWER LIBRARY

@import 'library'

// ******************************************************

// GRID

@import 'grid'

// ******************************************************

// TYPOGRAPHY

@import 'type'

// ******************************************************

// VARIABLES

$color-black = rgb(0, 0, 0)
$color-white = rgb(255, 255, 255)

$color-red = rgb(231, 62, 72)
$color-blue = rgb(27, 78, 147)
$color-yellow = rgb(232, 229, 64)

// ******************************************************

// BASIC

html
  color: $color-white
  background: $color-blue
  font-family: 'Graphik'

img
  max-width: 100%
  height: auto

.mobile-only
  display: initial !important

.desktop-only
  display: none !important

// HEADERS
h1, h2, h3, h4, h5, h6
  font-weight: bold
  font-style: italic

h1, h2
  letter-spacing: 1px

h2
  color: $color-red
// ******************************************************

// MEDIA QUERIES

$gutter = 18px

$margin-micro = ($gutter / 3)
$margin-tiny = ($gutter / 2)
$margin-small = ($gutter)
$margin-basic = ($gutter * 2)
$margin-mid = ($gutter * 3.5)
$margin-large = ($gutter * 5)

$font-size-basic = 22px
$font-size-h1 = 38px //28
$font-size-h2 = 34px
$font-size-h3 = 28px

grid(96%, $gutter, s)

space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

font-sizes($font-size-basic, $font-size-h1, $font-size-h2, $font-size-h3)

.yellow-shadow
  text-shadow: 2px 2px 0 $color-red

// HEADROOM
.headroom--pinned
  display: block

.headroom--unpinned
  transform: translateY(-100%)

// HEADER
#header
  color: $color-white
  width: 100%
  position: fixed
  top: 0
  z-index: 1000
  transition: transform 300ms

#playlist-container
  display: none

.pinned-player
  position: fixed
  bottom: 0
  right: 0
  width: 560px
  height: 315px
  padding: 0

  iframe
    width: 560px
    height: 315px
    position: initial
}

@import 'responsive/mobile'

@media screen and (min-width: 720px)

  $gutter = 21px

  $margin-micro = ($gutter / 3)
  $margin-tiny = ($gutter / 2)
  $margin-small = ($gutter)
  $margin-basic = ($gutter * 2)
  $margin-mid = ($gutter * 3.5)
  $margin-large = ($gutter * 5)

  $font-size-basic = 14px

  space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

  grid(680px, $gutter, m)

  font-size($font-size-basic)

  .mobile-only
    display: none !important

  @import 'responsive/tablet'

@media screen and (min-width: 1024px)

  $gutter = 24px

  $margin-micro = ($gutter / 3)
  $margin-tiny = ($gutter / 2)
  $margin-small = ($gutter)
  $margin-basic = ($gutter * 2)
  $margin-mid = ($gutter * 3.5)
  $margin-large = ($gutter * 5)

  $font-size-basic = 16px

  grid(1000px, $gutter, l)

  space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

  font-size($font-size-basic)

  .desktop-only
    display: initial !important

  @import 'responsive/desktop'

@media screen and (min-width: 1280px)

  grid(1200px)

@media screen and (min-width: 1366px)

  grid(1300px)

@media screen and (min-width: 1680px)

  grid(1600px)

@media screen and (min-width: 1920px)

  grid(1800px)



