  // styl property ordering: https://github.com/rossPatton/stylint/blob/master/src/data/ordering.json

@import 'kouto-swiss'
@import 'helpers'

@import 'fonts/graphik'

// ******************************************************

// RESETS

meyer-reset()
box-sizing-reset()

// ******************************************************

// BOWER LIBRARY

@import 'library'

// ******************************************************

// GRID

@import 'grid'

// ******************************************************

// TYPOGRAPHY

@import 'type'

// ******************************************************

// VARIABLES

$color-black = rgb(0, 0, 0)
$color-white = rgb(255, 255, 255)

$color-red = rgb(239, 63, 66)
$color-blue = rgb(22, 72, 152)
$color-yellow = rgb(229 220, 26)

$color-facebook = rgb(59, 89, 152)
$color-twitter = rgb(0, 132, 180)

// ******************************************************

// BASIC

html
  font-family: 'Graphik', sans-serif
  color: $color-white
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: auto

img
  max-width: 100%
  height: auto

a > img
  vertical-align: top

svg
  max-width: 100%
  fill: white

// HEADERS
h1, h2, h3, h4, h5, h6
  font-weight: bold
  font-style: italic

h1, h2
  letter-spacing: 1px

// CUSTOM HELPER CLASSES

.helvetica
  font-family: 'Helvetica'

.mobile-hide
  display: none !important

// ******************************************************

// MEDIA QUERIES

$gutter = 12px

$margin-micro = ($gutter / 3)
$margin-tiny = ($gutter / 2)
$margin-small = ($gutter)
$margin-basic = ($gutter * 2)
$margin-mid = ($gutter * 3.5)
$margin-large = ($gutter * 5)

grid(96%, $gutter, s)

space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

font-sizes()

@import 'responsive/mobile'

@media screen and (min-width: 720px)

  $gutter = 21px

  $margin-micro = ($gutter / 3)
  $margin-tiny = ($gutter / 2)
  $margin-small = ($gutter)
  $margin-basic = ($gutter * 2)
  $margin-mid = ($gutter * 3.5)
  $margin-large = ($gutter * 5)

  space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

  grid(680px, $gutter, m)

  $font-size-basic = 26px
  font-sizes($font-size-basic, 1.25)

  .mobile-hide
    display: inherit !important

  .medium-hide
    display: none !important

  @import 'responsive/tablet'

@media screen and (min-width: 1024px)

  $gutter = 36px

  $margin-micro = ($gutter / 3)
  $margin-tiny = ($gutter / 2)
  $margin-small = ($gutter)
  $margin-basic = ($gutter * 2)
  $margin-mid = ($gutter * 3.5)
  $margin-large = ($gutter * 5)

  grid(1000px, $gutter, l)

  space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

  $font-size-basic = 22px
  font-sizes($font-size-basic, 1.25)

  .mobile-hide
    display: inherit !important

  .medium-hide
    display: inherit !important

  .grid-item.medium-hide
    display: block !important

  .desktop-hide
    display: none !important



  @import 'responsive/desktop'

@media screen and (min-width: 1280px)

  grid(1200px)

  font-sizes($font-size-basic, 1.75)
