// DEFAULTS
button,
.button
  font-size: $font-size-h3
  padding: $margin-tiny $margin-small
  margin: $margin-tiny 0

.content-copy
  & > *
    margin:  0 auto $gutter
    max-width: 50%
    width: 100%

  img
    max-width: 100%
