// DEFAULTS
.background-color-twitter
  background-color: $color-twitter

.background-color-facebook
  background-color: $color-facebook

.content-copy
  & > *
    margin:  $gutter * 2 0
    max-width: 100%
    width: 100%
    display: block

  & img
    width: auto


  a
    text-decoration: underline

button,
.button
  font-size: $font-size-h3
  font-weight: 900
  font-style: italic
  text-transform: uppercase
  padding: $margin-tiny $margin-small
  margin: $margin-tiny 0
  border: 0

// SHARE BUTTONS
.share-button
  display: flex

  svg
    width: 18px
    height: 18px
    display: inline
    fill: $color-white

// HEADER
#header
  width: 100%
  position: absolute
  top: 0
  left: 0
  right: 0
  z-index: 10

  .social-icon
    svg
      width: 24px

.home #header
  display: none

.logo
  position: relative

  .logo-shadow,
  .logo-hangul
    width: 100%
    position: absolute
    top: -2px


.cover-photo-holder
  width: 100%
  height: 90vh
  position: relative
  background-image: linear-gradient(to bottom,  rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, .25) 100%)

.cover-photo
  position: absolute
  width: 100%
  height: 100%
  top: 0
  left: 0
  right: 0
  background-size: cover
  background-position: center
  z-index: -1

// LAST SHOW
#last-show
  transition: background 500ms

  &.black-bg
    background: black

#cover-container
  background-position: center
  background-size: cover

#playlist-container
  display: none
  max-height: 100vh

#playlist-embed
  max-height: 100vh

.pinned-player
  position: fixed
  bottom: 0
  right: 0
  width: 560px
  height: 315px
  padding: 0

  iframe
    width: 560px
    height: 315px
    position: initial

#cover-container
  .grid-row
    max-height: 100vh
    height: 133.33333vw

#play-button,
#play-link
  position: absolute
  bottom: 5px
  right: 0


// FOOTER
#footer
  .social-icon
    svg
      width: 44px

// SINGLE POST

// CONTENT COPY
.content-copy
  i
    font-style: italic

  .wp-caption-text
    font-style: italic
    font-size: small
    text-align: center
