.home #header
  display: none

#cover-container
  .grid-row
    max-height: 100vh
    height: 133.33333vw

.content-copy
  & > *
    margin:  $gutter * 2 auto
    max-width: 100%
    width: 100%
    display: block

